# get your key and id from https://www.clarifai.com/models/food
# this config is for local runs only where knex needs to be configured with 
# the following variables: host, user, password, and database (for db name)

# currently the codebase is configured for a prod deployment on heroku
# available at https://seefood-api-kan.herokuapp.com/

CLARIFAI_API_KEY=       # Your Clarifai API key
DB_HOST=        # Your database host
DB_USER=        # Your database username
DB_PASS=        # Your database access password
DB_NAME=        # Your database name